cloud_id                 = "b1gfnnr7dn30ornsm35s"
folder_id                = "b1g5q2lccug3i0j92ksh"
zone                     = "ru-central1-a"
image_id                 = "fd8tthd2hjdt9r1s3cl0"
public_key_path          = "~/.ssh/yc-user.pub"
private_key_path         = "~/.ssh/yc-user"
subnet_id                = "e9b3oen1m672rlej00jr"
service_account_key_file = "/home/ubuntu/git/key.json"
